.box {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
}
p {
  display: flex;
  justify-content: center;
}
p button {
  display: block;
  margin-left: 100px;
}
p a {
  display: block;
  margin-left: -100px;
}
p .but {
  padding: 5px;
  background-color: #4218a5;
  color: cornsilk;
  border: solid 2px #18a52b;
}
