body {
  font-family: system-ui;
  background-color: cadetblue;
}
.box {
  display: flex;
  flex-direction: column;
  width: 290px;
  margin: auto;
}
.box input {
  margin: 9px;
  padding: 6px;
  border-radius: 7px;
  border: solid 2.7px #000000;
}
p {
  display: flex;
  justify-content: center;
}
p button {
  display: block;
  margin-left: 100px;
  cursor: pointer;
}
p button:hover {
  background-color: #9c9c9c;
  margin-left: 90px;
  box-shadow: 6px 0px 3px #4d4d4d;
}
p a {
  display: block;
  margin-left: -100px;
  text-decoration: none;
}
p a:hover {
  background-color: #9c9c9c;
  margin-left: -90px;
  box-shadow: -6px 0px 3px #4d4d4d;
}
p span {
  font-size: xx-large;
}
p .but {
  padding: 5px;
  background-color: grey;
  color: cornsilk;
  border: solid 2px #ffffff;
  font-size: medium;
  border-radius: 5px;
}
#errorsOut {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20PX;
  color: brown;
  width: 230px;
  margin: auto;
}
@media screen and (max-width: 320px) {
  .box {
    width: 215px;
  }
}
