@font-face {
  font-family: Gagalin;
  src: url(gagalin/Gagalin.ttf);
}
body {
  font-family: Gagalin;
}
.emptiness {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 7cqi;
  z-index: auto;
}
.box {
  display: flex;
  flex-direction: column;
  width: 290px;
  margin: auto;
}
.box input {
  margin: 9px;
  padding: 6px;
  border-radius: 7px;
  border: solid 2.7px #000000;
}
p {
  display: flex;
  justify-content: center;
}
p button {
  display: block;
  margin-left: 100px;
}
p a {
  display: block;
  margin-left: -100px;
}
p .but {
  padding: 5px;
  background-color: #4218a5;
  color: cornsilk;
  border: solid 2px #18a52b;
}
