.box{
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
}
p{
  display: flex;
  justify-content: center;
  button{
    display: block;
    margin-left: 100px;
  }
  a{
    display: block;
    margin-left: -100px;
    
  }
  .but{
    padding: 5px;
    background-color: rgb(66, 24, 165);
    color: cornsilk;
    border: solid 2px rgb(24, 165, 43);
  }
}